body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #0d1117;
}

.app {
  padding: 10px;
}

.box {
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
}

.intro_keyword{
  color: #90bfe6;
}

/* 메시지(스킬 , 디벨로퍼 , 흥미 있는것 */
.intro_Msg{
  color:#CE9178
}
.intro_door{
  color: #c559bc;
}
.intro_door_big{
  color:#3e54c4;
}
